.checkboxes
{
font-family:"Trebuchet MS", Arial, helvetica, "sans-serif"; font-size:22px; color:#ffffff; font-weight:400px;
line-height:35px;
}


#question21_div
{
position:absolute;
left:130px;
top:240px;
}

#question22_div
{
position:absolute;
left:119px;
top:271px;
}

#question23_div
{
position:absolute;
left:119px;
top:271px;
}

#question24_div
{
position:absolute;
left:119px;
top:271px;
}

#question27_div
{
position:absolute;
left:119px;
top:271px;
}

#question28_div
{
position:absolute;
left:119px;
top:271px;
}

#question29_div
{
position:absolute;
left:119px;
top:271px;
}

#question30_div
{
position:absolute;
left:119px;
top:271px;
}

#question31_div
{
position:absolute;
left:119px;
top:325px;
}

#question32_div
{
position:absolute;
left:119px;
top:325px;
}

#question33_div
{
position:absolute;
left:119px;
top:271px;
}

#question34_div
{
position:absolute;
left:119px;
top:271px;
}

#question35_div
{
position:absolute;
left:119px;
top:271px;
}

#question36_div
{
position:absolute;
left:119px;
top:271px;
}

#question37_div
{
position:absolute;
left:119px;
top:271px;
}

#question38_div
{
position:absolute;
left:119px;
top:271px;
}

#matthew_1a
{
position:absolute;
left:222px;
top:203px;
}

#luke_1a
{
position:absolute;
left:440px;
top:203px;
}

#matthew_2a
{
position:absolute;
left:222px;
top:285px;
}

#luke_2a
{
position:absolute;
left:440px;
top:285px;
}

#matthew_3a
{
position:absolute;
left:222px;
top:367px;
}

#luke_3a
{
position:absolute;
left:440px;
top:367px;
}

#sabbath2chart1a_id
{
position:absolute;
left:171px;
top:195px;
}

#sabbath2chart1b_id
{
position:absolute;
left:395px;
top:195px;
}

#sabbath2chart1c_id
{
position:absolute;
left:171px;
top:264px;
}

#sabbath2chart1d_id
{
position:absolute;
left:394px;
top:264px;
}

#sabbath2chart1e_id
{
position:absolute;
left:171px;
top:332px;
}

#sabbath2chart1f_id
{
position:absolute;
left:394px;
top:332px;
}

#sabbath2chart1g_id
{
position:absolute;
left:171px;
top:401px;
}

#sabbath2chart1h_id
{
position:absolute;
left:394px;
top:401px;
}

#sabbath2chart2a_id
{
position:absolute;
left:192px;
top:211px;
}

#sabbath2chart2b_id
{
position:absolute;
left:192px;
top:291px;
}

#sabbath2chart2c_id
{
position:absolute;
left:192px;
top:371px;
}