body
{
background-color:#000000;
}


.restart
{
hidden:hidden; position:fixed;
left:15px;
top:495px;
cursor:pointer;
}


.back
{
hidden:hidden; position:fixed;
left:55px;
top:495px;
cursor:pointer;
}


.forward
{
hidden:hidden; position:fixed;
left:550px;
top:495px;
cursor:pointer;
}


.help
{
hidden:hidden; position:fixed;
left:600px;
top:495px;
cursor:pointer;
}