

div.wrappertop {	
	background-color: #0078ae;
	vertical-align="baseline";	
	}

div.pagesizer {
	width:960px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:50px;
	}

ul, li, div.right, div.left {
		display:inline;
		}
/*
li.list_top {border-left-width: 1px;
border-left-style: solid;
border-left-color: #92C1F6;
padding-top: 6px;
padding-right: 11px;
padding-bottom: 8px;
padding-left: 12px;

	} */ <!-- See comment below, same errors apply here>  -->

/* li.first_top {
padding-top: 6px;
padding-right: 11px;
padding-bottom: 8px;
padding-left: 12px;

	} */    <!-- This preceding css item seems to cause problems, perhaps it was my first attempt at writing a rule before I copied over the content from the IFCJ CSS rules -->

div#topbar ul.menu {
  margin-top: 1px; }

div#topbar ul.menu li {
  float: left;
  font-size: 116.6%;
  text-transform: uppercase;
  font-family: /*'TradeGothic-BoldCondTwenty'*/ Arial;
  margin: 0px; }

div#topbar ul.menu li a {
  color: white;
  border-left: 1px solid #92c1f6;
  display: block;
  padding: 4px 11px 3px 12px; /* order is top, right, bottom, left*/
  text-decoration:none;
	}

div#topbar ul.menu li.active a,
div#topbar ul.menu li a:hover {
	text-decoration: none;
	cursor:pointer;
  color: #9fcd66; }

 div#topbar ul.menu li.first_top a {
  border-left: none; } 

div#topbar div.left ul.menu li.first_top a {
  padding-left: 0px; }

div#topbar div.right div.menu {
  float: right; }

div.left {
	padding-right: 50px;
}

div#topbar div.right {
  float: right; }